.\" Hive Framework Man Page Macros
.\"
.\" Common troff macros for Hive man pages
.\"
.\" Usage: Include this file at the start of generated man pages
.\"
.\" Section header styles
.de SH
.sp 1
.ne 3
.B "\\$1"
.sp 0.5
..
.\" Bold text
.de B
\\fB\\$1\\fR\\$2
..
.\" Italic text
.de I
\\fI\\$1\\fR\\$2
..
.\" Bold/Roman alternation (for command names)
.de BR
\\fB\\$1\\fR\\$2\\fB\\$3\\fR\\$4\\fB\\$5\\fR\\$6
..
.\" Roman/Bold alternation
.de RB
\\$1\\fB\\$2\\fR\\$3\\fB\\$4\\fR\\$5\\fB\\$6\\fR
..
.\" Tagged paragraph
.de TP
.sp 0.5
.ne 2
..
.\" Indented paragraph
.de IP
.sp 0.5
.in +\\$2n
\\$1
..
